<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="login-container">
      <h1 class="login-text"><%= title %></h1><br>
      <br>
      <br><p class="welcome-text">Welcome to <%= title %><p/>
    </div>
  
    <form method="post" action = "">
        <label>Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
        <%- message %> 
      </form>
  </body>
</html>
